<% provide(:title, 'Home') %>
<div class="center hero-unit">
	<h1>Welcome to the New Haven Reads Book Center</h1>
	<p>Help us spread the joy of reading.</p>

	<%= link_to "Make a book order today!", '#', class: "btn btn-large btn-primary btn-warning" %>
</div>
