<% provide(:title, 'Home') %>
<% if !user_signed_in? %>
  <div class="center">
	<div id="myCarousel" class="carousel slide">
	<!- Carousel items -->
	  <div class="carousel-inner">
	  	<div class="active item">
	  		<%= link_to image_tag "fiona_picture.png" %>
	  	</div>
	  	<div class="item">
	  		<%= link_to image_tag "student_picture.png" %>
	  	</div>
	  	<div class="item">
	  		<%= link_to image_tag "rugby-nhreads.png" %>
	  	</div>
	  </div>
	<!-- Carousel nav -->
	  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
	  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
	</div>
	<%= link_to "Sign in!", new_user_session_path, class: "btn btn-large btn-primary" %>
<% end %>
