<% provide(:title, 'Home') %>
	<% if !user_signed_in? %>
	<div class="center hero-unit">
	<h1>Welcome to the New Haven Reads Book Center</h1>
	<p>Help us spread the joy of reading.</p>

	<%= link_to "Sign in here!", new_user_session_path, class: "btn btn-large btn-primary btn-success" %>
	<% else %>
	<p> Insert CMS here </p>
	<% end %>
</div>
