<h1>Sign up today!</h1>
<blockquote>
	<p>Remember that they are only books; the people are what are important.</p>
	<small>Christine Alexander, Founder, New Haven Reads</small>
</blockquote>
<div class="well">
<%= link_to "Register your organization", '#', class: "btn btn-large btn-success" %>
<p>
	No one at your organization has created an account with the New Haven Reads Book Center before. You or your organization would like to order books from New Haven Reads.
</p>
</div>
<div class="well">
<%= link_to "Register as a user", '#', class: "btn btn-large btn-success" %>
<p>
	Your organization is registered with the New Haven Reads Book Center and you would like to create an account
	to manage these orders or create new ones.
</p>
</div>