<% if current_user.any_orders_completed? %>
    <table class="table table-bordered" id="orders", data-source="<%= orders_url(format: "json") %>">
      <thead>
        <tr>
          <th>Organization</th>  <!-- fix the sortable method -->
          <th>Total Books</th>
          <th>ETA</th>
          <th>Entered At</th>
        </tr>
      </thead>
      <tbody>
        <% @orders.each do |order| %>
          <% if order.completed? %>
            <%= render 'shared/table_body', :order => order %>
          <% end %>
        <% end %>
      </tbody>
    </table>
    <%= will_paginate @orders %>
  <% else %>
    <p>No orders to display.</p>
  <% end %>