<% provide(:title, 'Order History') %>
<div class="row">
	  <%= render 'shared/sidebar' %>
  <h1>User History</h1>
  <%= link_to "Delete All", delete_order_path(:destroy_all_completed => true) %>
  <div class="span8">
  	<%= render 'shared/display_orders' %>
  </div>
</div>