<% provide(:title, 'Statistics') %>
<div class="row">
<%= render 'shared/sidebar' %>
<h1>Statistics</h1>
<ol>Things to show:</ol>
  <li>Total number of books this month.</li>
  <li>Breakdown total number of books this month by genre.</li>
  <li>Breakdown total number of books this month by organization and by destination.</li>
  <li>Attempt to graph this data over time.</li>
</ol>
</div>