
    <table class="table table-bordered" id="orders" data-source="<% orders_url(format: "json") %>">
      <thead>
        <tr>
          <th>Solicitor</th>
          <th>Destination</th>
          <th>ETA</th>
          <th>Entered At</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>