<% if !@user.all_orders_completed? %>
    <table class="table table-bordered" id="orders" data-source="<%= orders_url(format: "json") %>">
      <thead>
        <tr>
          <th>Organization</th>  <!-- fix the sortable method -->
          <th>Total Books</th>
          <th>ETA</th>
          <th>Entered At</th>
        </tr>
      </thead>
      <tbody>
        <% @user.orders.each do |order| %>
          <% unless order.completed? %>
            <%= render 'table_body', :order => order %>
          <% end %>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <p>No orders to display.</p>
  <% end %>