<% if !current_user.all_orders_completed? %>
    <table class="table table-bordered"> <!-- if you want datatables, set id="orders" -->
      <thead>
        <tr>
          <th>Organization</th>  <!-- fix the sortable method -->
          <th>Destination</th>
          <th>Total Books</th>
          <th>ETA</th>
          <th>Entered At</th>
        </tr>
      </thead>
      <tbody>
        <% @orders.each do |order| %>
          <% unless order.completed? %>
            <%= render 'shared/table_body', :order => order %>
          <% end %>
        <% end %>
      </tbody>
    </table>
    <%= will_paginate @orders %>
  <% else %>
    <p>No orders to display.</p>
  <% end %>