<% if @order.errors.any? %>
  <div id="error_explanation">
       The form contains <%= pluralize(@order.errors.count, "error") %> in the order model.
     <ul>
        <% @order.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
    </ul>
  </div>
<% end %>
<% if !@line_item.nil? %>
  <% if @line_item.errors.any? %>
    <div id="error_explanation">
      The form contains <%= pluralize(@line_item.errors.count, "error") %> in the line item model.
    <ul>
      <% @order.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
    </div>
  <% end %>
<% end %>