<div class="nested-fields">
    <%= f.input :genre, input_html: { autocomplete: "off", id: "auto_complete" } %>
    <%= f.input :quantity, :label => "Quantity of Books" %>
  <%= link_to_remove_association "Remove line item", f %>
</div>
