<% provide(:title, @user.name) %>
<div class="row">
	  <%= render 'shared/sidebar' %>
  <h1><%= @user.first_name %>'s Order History</h1>
  <div class="span8">
	<%= render 'orders/display_history' %>
  </div>
</div>