<% provide(:title, @user.name) %>
<div class="row">
	  <%= render 'shared/sidebar' %>
  <h1><%= @user.first_name %>'s Pending Orders</h1>
  <div class="span8">
	<%= render 'display_orders' %>
  </div>
</div>