@import "bootstrap";

/* mixins, variables, etc. */
$skyBlue: #3BB9FF;
$goodOrange: #ff7f3b;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* jQuery custom in-line */

/** Activated when one hovers over an editable field **/
.editHover {
  background-color: #E8F3FF;
}

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
  	margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
	line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #999;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  letter-spacing: -1px;
  padding-top: 9px;
  line-height: 1;
  font-family: cursive;
  &:hover {
    color: $goodOrange;
    text-decoration: none;
  }
}

/* table */

.org-name {
  color: $grayLight;
}

/* sidebar */
aside {
  section {
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.6em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
    }
  }
}

/* footer TODO: change colors */

footer {
  clear: both;
  margin-top: 60px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  a {
    color: #555;
    &:hover {
      color: #222;
    }
  }
  small {
    float: left;
    padding-left: 15px;
  }
  ul {
    float: left;
    list-style: none;
    padding-left: 15px;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

/* buttons */

.buttons {
  text-align: center;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}