
  <!-- great code for listing all attributes
        <% @user.orders.each do |order| %>
        <% order.attributes.each do |attr_name, attr_value| %>
          <li><%= attr_name.humanize %>: <%= attr_value %></li>
        <% end %>
      <% end %>
      -->