<header class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<nav>
				<%= link_to "New Haven Reads", root_path, id: "logo" %>
				<ul class="nav pull-left">
					<li class="divider-vertical"></li>
					<li><%= link_to "Home", root_path %></li>
					<li class="divider-vertical"></li>
					  <% if user_signed_in? %>
   					    Signed in as <%= current_user.email %>.
    				    <li><%= link_to "Sign out", destroy_user_session_path %></li>
  					  <% end %>
				</ul>
			</nav>
		</div>
	</div>
</header>

<!-- image for header: image_tag("nhrlogo.jpg", alt: "New Haven Reads", size: "150x100") -->
<!-- TODO: change the background of the picture to black -->